.side_ber
  .side_ber__top
    .side_ber__top__items
      %p.side_ber__top__items--name
        %b
          = current_user.name
      %p.side_ber__top__items--icon
        = link_to new_group_path(), class: "awesome" do
          = icon("far", "edit")
          %span<>
        = link_to edit_user_path(current_user), class: "awesome" do
          = icon("fas", "cog")
  .side_ber__group
    .side_ber__group__list
      - current_user.groups.each do |group|
        = link_to group_messages_path(group), class: "side_ber__group__list__links" do
          %p.side_ber__group__list__links__name
            = group.name
          %p.side_ber__group__list__links__notice
            = group.show_last_message